Repository hyedi3x/TICO_TEAM, pull requests merged in 2025-05, with the labels that each got.

#40 [Localhost code kyj1] 🔔 관리자 알림 기능 추가
  front-react/src/blockly/components/ObjectSelectPage.jsx
  front-react/src/common/Header.jsx
  front-react/src/common/NotificationDropdown.jsx
  front-react/src/common/notificationDropdown.css
  front-react/src/mypage/PurchasePage.jsx
  front-react/src/mypage/SubscriptionState.jsx
  front-react/src/pages/erp/ErpMain.jsx
  front-react/src/pages/erp/Home/ErpNotiDetail.jsx
  front-react/src/pages/erp/Home/ErpNotices.jsx
  front-react/src/pages/erp/Home/erpNotices.css
  front-react/src/pages/erp/MyPage/NotificationList.jsx
  front-react/src/pages/erp/MyPage/notificationList.css
  front-react/src/pages/erp/PAY_Team/SubscriptionManager.jsx
  src/main/java/com/boot/tico/TicoTeamApplication.java
  src/main/java/com/boot/tico/erp/controller/ErpNotiController.java
  src/main/java/com/boot/tico/erp/controller/NotificationController.java
  src/main/java/com/boot/tico/erp/dto/Notification.java
  src/main/java/com/boot/tico/erp/dto/NotificationDismissed.java
  src/main/java/com/boot/tico/erp/dto/NotificationDismissedId.java
  src/main/java/com/boot/tico/erp/dto/NotificationRead.java
  src/main/java/com/boot/tico/erp/dto/NotificationReadId.java
  src/main/java/com/boot/tico/erp/repo/EmpRepository.java
  src/main/java/com/boot/tico/erp/repo/ErpNotiRepository.java
  src/main/java/com/boot/tico/erp/repo/ErpScheduleRepository.java
  src/main/java/com/boot/tico/erp/repo/NotificationDismissedRepo.java
  src/main/java/com/boot/tico/erp/repo/NotificationReadRepo.java
  src/main/java/com/boot/tico/erp/repo/NotificationRepo.java
  src/main/java/com/boot/tico/erp/service/ErpNotiService.java
  src/main/java/com/boot/tico/erp/service/ErpScheduleService.java
  src/main/java/com/boot/tico/erp/service/NotificationService.java
  src/main/java/com/boot/tico/purchase/controller/PurchaseController.java
  src/main/java/com/boot/tico/purchase/dto/Purchase.java
  src/main/java/com/boot/tico/purchase/dto/SubscriptionResponseDTO.java
  src/main/java/com/boot/tico/purchase/repo/PurchaseLogRepo.java
  src/main/java/com/boot/tico/purchase/repo/PurchaseRepo.java
  src/main/java/com/boot/tico/purchase/service/PurchaseService.java
Labels: 📬 API, 🐞 Bug, ✨ Feature, 🕹️Java, 🕹️ JavaScript, 🕹️ React, 🕹️Spring Boot

#41 [Dashboard-1] 회원 참여도/학습량 통계 페이지 구현 (Chart.js 기반 사용자 대시보드 구성 + Flask API 연동 + DB 쿼리 정리)
  .gitignore
  front-react/package-lock.json
  front-react/package.json
  front-react/src/pages/erp/Analyze_TEAM/CsDashboard.jsx
  front-react/src/pages/erp/ErpMain.jsx
  front-react/src/pages/login/Login.jsx
  python/chatbot/app.py
  python/dashboard/__init__.py
  python/dashboard/db.py
  python/dashboard/routes.py
  python/requirements.txt
Labels: ✨ Feature, 🕹️ JavaScript, ⚙ Settings, 🎨UI, 🕹️ React, 🕹️python

#42 [Localhost code kyj2] 🔔 사용자 알림 기능 구현
  front-react/src/common/Header.jsx
  front-react/src/common/NotificationDropdown.jsx
  front-react/src/mypage/MypageMain.jsx
  front-react/src/mypage/UserNotification.jsx
  front-react/src/mypage/userNotification.css
  front-react/src/pages/erp/CS_TEAM/ProjectReportList.jsx
  front-react/src/pages/erp/CS_TEAM/projectReportList.css
  front-react/src/pages/erp/ErpMain.jsx
  front-react/src/pages/share/ReportForm.jsx
  src/main/java/com/boot/tico/erp/controller/UserNotificationController.java
  src/main/java/com/boot/tico/erp/dto/UserNotification.java
  src/main/java/com/boot/tico/erp/dto/UserNotificationRequest.java
  src/main/java/com/boot/tico/erp/repo/UserNotificationRepo.java
  src/main/java/com/boot/tico/erp/service/UserNotificationService.java
  src/main/java/com/boot/tico/project/controller/ProjectController.java
  src/main/java/com/boot/tico/project/controller/ProjectReportController.java
  src/main/java/com/boot/tico/project/dto/ProjectReportDTO.java
  src/main/java/com/boot/tico/project/repo/ProjectReportRepository.java
  src/main/java/com/boot/tico/project/repo/ProjectRepository.java
  src/main/java/com/boot/tico/project/service/ProjectReportService.java
  src/main/java/com/boot/tico/project/service/ProjectService.java
Labels: 📬 API, ✨ Feature, 🕹️Java, 🕹️ JavaScript, 🔨 Refactor, 🎨UI, 🕹️ React, 🕹️Spring Boot

#43 [Dashboard-2] 결제/환불 및 구독 대시보드 구현 및 인사이트 시각화
  front-react/src/pages/erp/Analyze_TEAM/AgeBarChart.jsx
  front-react/src/pages/erp/Analyze_TEAM/AgeBubbleChart.jsx
  front-react/src/pages/erp/Analyze_TEAM/CsDashboard.jsx
  front-react/src/pages/erp/Analyze_TEAM/PayDashboard.jsx
  front-react/src/pages/erp/Analyze_TEAM/PayRefundInsight.jsx
  front-react/src/pages/erp/Analyze_TEAM/SubScriptionInsight.jsx
  front-react/src/pages/erp/Analyze_TEAM/csDashboard.css
  front-react/src/pages/erp/Analyze_TEAM/payDashboard.css
  front-react/src/pages/erp/Analyze_TEAM/payRefundInsight.css
  front-react/src/pages/erp/Analyze_TEAM/subScriptionInsight.css
  front-react/src/pages/erp/ErpMain.jsx
  python/dashboard/db.py
  python/dashboard/routes.py
Labels: 📬 API, ✨ Feature, 🕹️ JavaScript, 🕹️SQL, 🎨UI, 🕹️ React, 🕹️python

#44 [Dashbord-3] 인기 작품 통계 대시보드 구현 및 시각화 개선 (차트, 테이블, 종합 점수 분석 포함)
  front-react/package-lock.json
  front-react/package.json
  front-react/src/pages/erp/Analyze_TEAM/CsDashboard.jsx
  front-react/src/pages/erp/Analyze_TEAM/PayRefundInsight.jsx
  front-react/src/pages/erp/Analyze_TEAM/PopularProjectScore.jsx
  front-react/src/pages/erp/Analyze_TEAM/PopularProjectsChart.jsx
  front-react/src/pages/erp/Analyze_TEAM/PopularProjectsTable.jsx
  front-react/src/pages/erp/Analyze_TEAM/ProjectDashboard.jsx
  front-react/src/pages/erp/Analyze_TEAM/SubScriptionInsight.jsx
  front-react/src/pages/erp/Analyze_TEAM/popularProjectsChart.css
  front-react/src/pages/erp/Analyze_TEAM/popularProjectsTable.css
  front-react/src/pages/erp/Analyze_TEAM/projectDashboard.css
  front-react/src/pages/erp/ErpMain.jsx
  python/dashboard/db.py
  python/dashboard/routes.py
Labels: 📬 API, ✨ Feature, 🕹️SQL, 🎨UI, 🕹️ React, 🕹️python

#45 [Chatbot-modify] 챗봇 블록 코드 질문 처리 및 응답 로직 구현 (Flask 백엔드 + 프론트 연동)
  front-react/src/blockly/components/BlocklyComponent.jsx
  front-react/src/pages/chatbot/ChatbotEngine.jsx
  front-react/src/pages/chatbot/ChatbotWindow.jsx
  front-react/src/pages/chatbot/chatbot.png
  front-react/src/pages/chatbot/chatbotEngine.css
  python/chatbot/chatbot_faq.py
  python/chatbot/chatbot_handler.py
  python/chatbot/chatbot_response.py
  python/chatbot/routes.py
Labels: 📬 API, ✨ Feature, 🕹️ JavaScript, 🔨 Refactor, 🕹️ React, 🕹️python

#46 [Deploy code kyj] 유저 마이페이지 구현 & erp css 수정
  front-react/public/my.png
  front-react/src/blockly/components/BlocklyComponent.jsx
  front-react/src/blockly/components/BlocklyComponentRemake.jsx
  front-react/src/blockly/components/ObjectSelectPage.jsx
  front-react/src/blockly/components/ObjectUploader.jsx
  front-react/src/blockly/components/ProjectModal.jsx
  front-react/src/blockly/utils/loadProjectDetail.js
  front-react/src/common/Main.jsx
  front-react/src/common/MainBannerManage.jsx
  front-react/src/common/ProjectCard.jsx
  front-react/src/common/ProjectSelectModal.jsx
  front-react/src/mypage/MyProjects.css
  front-react/src/mypage/MyProjects.js
  front-react/src/mypage/MypageMain.jsx
  front-react/src/mypage/SubscriptionState.jsx
  front-react/src/mypage/UserHome.jsx
  front-react/src/mypage/mypageMain.css
  front-react/src/mypage/userHome.css
  front-react/src/pages/erp/ErpDTO.jsx
  front-react/src/pages/erp/ErpMain.jsx
  front-react/src/pages/erp/Home/Home.jsx
  front-react/src/pages/erp/Home/erpNotiCreated.css
  front-react/src/pages/erp/Home/erpNotiUpdate.css
  front-react/src/pages/erp/Home/home.css
  front-react/src/pages/erp/Home/recentNotices.css
  front-react/src/pages/erp/erpMain.css
  front-react/src/pages/search/SearchResult.jsx
  front-react/src/pages/share/ShareGallery.jsx
  front-react/src/pages/share/ShareModal.jsx
  uploads/images/blocklyDraws/draw_07e42150386b.png
  uploads/images/blocklyDraws/draw_0f8da7f0c246.png
  uploads/images/blocklyDraws/draw_badc85c38859.png
  uploads/images/blocklyDraws/draw_ebb202cd5484.png
Labels: 📬 API, ✨ Feature, 🕹️ JavaScript, 🔨 Refactor, 🎨UI, 🕹️ React, 🕹️Spring Boot
