Repository hyedi3x/TICO_TEAM, pull requests merged in 2025-04, with the labels that each got.

#6 [Data-analysis] HR csv 데이터 전처리 후, MariaDB에 삽입 (ERP 사원 데이터 등록 및 조회 페이지 구현)
  front-react/package-lock.json
  front-react/package.json
  front-react/src/erp/Admin.jsx
  front-react/src/erp/AdminInfo.jsx
  front-react/src/erp/AdminRegister.jsx
  front-react/src/erp/ErpMain.jsx
  front-react/src/erp/admin.css
  front-react/src/erp/adminInfo.css
  front-react/src/erp/adminRegister.css
  front-react/src/erp/erpMain.css
  pom.xml
  python/crawling/HR_Info.py
  python/data_sets/HRDataset_v14.csv
  src/main/java/com/boot/tico/chatbot/dto/ChatBotDTO.java
  src/main/java/com/boot/tico/erp/controller/ErpController.java
  src/main/java/com/boot/tico/erp/dto/DepDTO.java
  src/main/java/com/boot/tico/erp/dto/EmpDTO.java
  src/main/java/com/boot/tico/erp/dto/JobDTO.java
  src/main/java/com/boot/tico/erp/dto/JobResponseDTO.java
  src/main/java/com/boot/tico/erp/repo/DepRepository.java
  src/main/java/com/boot/tico/erp/repo/EmpRepository.java
  src/main/java/com/boot/tico/erp/repo/JobRepository.java
  src/main/java/com/boot/tico/erp/service/ErpService.java
  src/main/java/com/boot/tico/login/ReactBootLoginApplication.java
  src/main/java/com/boot/tico/login/config/CorsConfig.java
  src/main/java/com/boot/tico/login/config/KakaoProperties.java
  src/main/java/com/boot/tico/login/controller/AuthController.java
  src/main/java/com/boot/tico/login/dto/AccessTokenResponse.java
  src/main/java/com/boot/tico/login/dto/KakaoUserInfo.java
  src/main/java/com/boot/tico/login/entity/User.java
  src/main/java/com/boot/tico/login/repository/UserRepository.java
  src/main/java/com/boot/tico/login/service/KakaoLoginService.java
Labels: 🐞 Bug, ✨ Feature, 🕹️Java, 🕹️ JavaScript, 🎨UI, 🕹️ React, 🕹️Spring Boot, 🕹️python

#7 [Blockly-ver1] 사용자 정의 블록 및 이미지 요소 관리 구현
  front-react/src/App.js
  front-react/src/blockly/README.md
  front-react/src/blockly/blocks/blockGenerator.js
  front-react/src/blockly/blocks/codeRunner.js
  front-react/src/blockly/blocks/generateAndStoreCode.js
  front-react/src/blockly/blocks/myBlockJSON.js
  front-react/src/blockly/blocks/myBlocks.js
  front-react/src/blockly/components/BlocklyComponent.css
  front-react/src/blockly/components/BlocklyComponent.jsx
  front-react/src/blockly/components/ProjectModal.jsx
  front-react/src/blockly/functions/appearances/appearanceFunctions.js
  front-react/src/blockly/functions/appearances/bubbleUtils.js
  front-react/src/blockly/functions/moves/moveFunctions.js
  front-react/src/blockly/functions/sounds/soundFunctions.js
  front-react/src/blockly/functions/starts/startFunctions.js
  front-react/src/blockly/utils/deleteProject.js
  front-react/src/blockly/utils/loadProjectDetail.js
  front-react/src/blockly/utils/loadProjects.js
  front-react/src/blockly/utils/saveProject.js
  front-react/src/blockly/utils/saveProjects.js
  front-react/src/common/Header.jsx
  src/main/java/com/boot/tico/project/controller/ProjectController.java
  src/main/java/com/boot/tico/project/dao/ProjectMapper.java
  src/main/java/com/boot/tico/project/dto/ProjectDTO.java
  src/main/java/com/boot/tico/project/dto/ProjectObjectDTO.java
  src/main/java/com/boot/tico/project/service/ProjectService.java
  src/main/resources/mappers/projectMapper.xml
Labels: 📬 API, 🐞 Bug, ✨ Feature, 🕹️ JavaScript, ⚙ Settings, 🕹️SQL, 🎨UI, 🕹️ React, 🕹️Spring Boot

#8 [Login all] Spring Security + OAuth2 + JWT 인증 시스템 구현
  front-react/src/App.js
  front-react/src/common/Header.css
  front-react/src/common/Header.jsx
  front-react/src/common/Main.jsx
  front-react/src/pages/login/Login.jsx
  front-react/src/pages/login/SignUpId.jsx
  front-react/src/pages/login/Signup.jsx
  front-react/src/pages/login/SocialSignup.css
  front-react/src/pages/login/SocialSignup.jsx
  front-react/src/pages/login/Welcome.css
  front-react/src/pages/login/Welcome.js
  front-react/src/pages/login/login.css
  front-react/src/pages/login/signUpId.css
  front-react/src/pages/login/social/components/Callback.js
  front-react/src/pages/login/social/components/LoginButton.js
  front-react/src/pages/login/social/components/LogoutButton.js
  front-react/src/pages/login/social/pages/KakaoLogin.js
  front-react/src/pages/login/social/pages/Logout.js
  front-react/src/pages/login/social/pages/main.js
  front-react/src/pages/login/social/utils/KakaoAuth.js
  front-react/src/pages/login/social/utils/axiosInstance.js
  src/main/java/com/boot/tico/login/config/CorsConfig.java
  src/main/java/com/boot/tico/login/config/SecurityConfig.java
  src/main/java/com/boot/tico/login/controller/AuthController.java
  src/main/java/com/boot/tico/login/dto/UserDto.java
  src/main/java/com/boot/tico/login/entity/User.java
  src/main/java/com/boot/tico/login/repository/UserRepository.java
  src/main/java/com/boot/tico/login/security/CustomAuthorityUtils.java
  src/main/java/com/boot/tico/login/security/JwtAuthenticationFilter.java
  src/main/java/com/boot/tico/login/security/JwtTokenizer.java
  src/main/java/com/boot/tico/login/security/OAuth2SuccessHandler.java
  src/main/java/com/boot/tico/login/security/OAuth2Utils.java
  src/main/java/com/boot/tico/login/security/UserDetailsServiceImpl.java
  src/main/java/com/boot/tico/login/service/UserService.java
Labels: 📬 API, ✨ Feature, 🕹️ JavaScript, 🎨UI, 🕹️ React, 🕹️Spring Boot

#9 Faq ver1
  front-react/src/App.js
  front-react/src/common/Header.jsx
  front-react/src/erp/ErpMain.jsx
  front-react/src/faq/Ecommerce_FAQ_Chatbot_dataset.json
  front-react/src/faq/FAQList.js
  front-react/src/faq/FAQPost.js
  front-react/src/faq/FAQPut.js
  front-react/src/faq/faqListPush.py
  src/main/java/com/boot/tico/faq/controller/FAQContoroller.java
  src/main/java/com/boot/tico/faq/dao/FAQRepository.java
  src/main/java/com/boot/tico/faq/dto/FAQDTO.java
  src/main/java/com/boot/tico/faq/service/FAQServiceImpl.java
Labels: ✨ Feature, 🕹️ React, 🕹️Spring Boot, 🕹️python

#11 [Chatbot-ver2] FAQ 응답 기능 챗봇 구현
  front-react/src/pages/chatbot/Chatbot.jsx
  front-react/src/pages/chatbot/MicRecord.jsx
  front-react/src/pages/chatbot/chatbot.css
  front-react/src/pages/chatbot/micRecord.css
  python/chatbot/speech-to-text.py
  python/data_sets/ChatbotData.csv
  src/main/java/com/boot/tico/chatbot/controller/ChatBotController.java
  src/main/java/com/boot/tico/chatbot/dto/ChatBotDTO.java
  src/main/java/com/boot/tico/chatbot/repo/ChatBotRepository.java
  src/main/java/com/boot/tico/chatbot/service/ChatBotService.java
Labels: 📬 API, ✨ Feature, 🕹️Java, 🕹️ JavaScript, 🎨UI, 🕹️ React, 🕹️Spring Boot, 🕹️python

#12 [Login-del-upd]
  front-react/src/App.js
  front-react/src/common/Header.jsx
  front-react/src/common/Main.jsx
  front-react/src/mypage/DeleteAccount.js
  front-react/src/mypage/EditProfile.js
  front-react/src/mypage/MypageMain.jsx
  front-react/src/mypage/deleteAccount.css
  front-react/src/mypage/editProfile.css
  front-react/src/mypage/mypageMain.css
  front-react/src/pages/chatbot/Chatbot.jsx
  front-react/src/pages/chatbot/MicRecord.jsx
  front-react/src/pages/chatbot/chatbot.css
  front-react/src/pages/chatbot/micRecord.css
  front-react/src/pages/login/Login.jsx
  front-react/src/pages/login/Welcome.js
  front-react/src/pages/login/social/components/Callback.js
  front-react/src/pages/login/social/utils/axiosInstance.js
  python/chatbot/speech-to-text.py
  python/data_sets/ChatbotData.csv
  src/main/java/com/boot/tico/chatbot/controller/ChatBotController.java
  src/main/java/com/boot/tico/chatbot/dto/ChatBotDTO.java
  src/main/java/com/boot/tico/chatbot/repo/ChatBotRepository.java
  src/main/java/com/boot/tico/chatbot/service/ChatBotService.java
  src/main/java/com/boot/tico/config/SecurityConfig.java
  src/main/java/com/boot/tico/login/controller/AuthController.java
  src/main/java/com/boot/tico/login/dto/UserDto.java
  src/main/java/com/boot/tico/login/entity/User.java
  src/main/java/com/boot/tico/login/security/OAuth2SuccessHandler.java
  src/main/java/com/boot/tico/login/service/UserService.java
  src/main/resources/application.yml
Labels: 🐞 Bug, 🕹️ JavaScript, 🎨UI, 🕹️ React, 🕹️Spring Boot

#13 [emp_login] Employee 로그인 구현
  front-react/package.json
  front-react/src/common/Header.jsx
  front-react/src/pages/login/Login.jsx
  src/main/java/com/boot/tico/config/SecurityConfig.java
  src/main/java/com/boot/tico/erp/dto/EmpDTO.java
  src/main/java/com/boot/tico/erp/service/EmployeeAuthService.java
  src/main/java/com/boot/tico/login/controller/AuthController.java
  src/main/java/com/boot/tico/login/dto/UserDto.java
  src/main/java/com/boot/tico/login/main/main.java
  src/main/java/com/boot/tico/login/security/JwtAuthenticationFilter.java
Labels: 📬 API, 🕹️SQL, 🔩 Test, 🕹️ React, 🕹️Spring Boot

#14 [Erp notice] 📢 기업 공지사항 CRUD 구현
  front-react/src/App.js
  front-react/src/erp/ErpMain.jsx
  front-react/src/erp/ErpNotiCreated.jsx
  front-react/src/erp/ErpNotiDetail.jsx
  front-react/src/erp/ErpNotiUpdate.jsx
  front-react/src/erp/ErpNotices.jsx
  front-react/src/erp/Home.jsx
  front-react/src/erp/RecentNotices.jsx
  front-react/src/erp/erpMain.css
  front-react/src/erp/erpNotiCreated.css
  front-react/src/erp/erpNotiDetail.css
  front-react/src/erp/erpNotiUpdate.css
  front-react/src/erp/erpNotices.css
  front-react/src/erp/recentNotices.css
  src/main/java/com/boot/tico/erp/controller/ErpNotiController.java
  src/main/java/com/boot/tico/erp/dto/ErpNotiDTO.java
  src/main/java/com/boot/tico/erp/repo/ErpNotiRepository.java
  src/main/java/com/boot/tico/erp/service/ErpNotiService.java
Labels: 📬 API, 🕹️Java, 🕹️ JavaScript, 🎨UI, 🕹️ React, 🕹️Spring Boot

#15 [Erp home emp] Erp Home페이지에 관리자 정보 연결
  front-react/src/erp/ErpDTO.jsx
  front-react/src/erp/ErpNotiDetail.jsx
  front-react/src/erp/Home.jsx
  src/main/java/com/boot/tico/erp/controller/ErpNotiController.java
  src/main/java/com/boot/tico/erp/repo/EmpRepository.java
  src/main/java/com/boot/tico/erp/service/ErpNotiService.java
Labels: 📬 API, 🕹️Java, 🕹️ JavaScript, 🕹️Spring Boot

#16 [find_email_pwd] local customer 이메일/비밀번호 찾기 구현
  front-react/src/App.js
  front-react/src/pages/login/FindIdPassword.jsx
  front-react/src/pages/login/Login.jsx
  front-react/src/pages/login/findIdPassword.css
  pom.xml
  src/main/java/com/boot/tico/TicoTeamApplication.java
  src/main/java/com/boot/tico/config/CorsConfig.java
  src/main/java/com/boot/tico/login/controller/AuthController.java
  src/main/java/com/boot/tico/login/repository/UserRepository.java
  src/main/java/com/boot/tico/login/service/EmailService.java
  src/main/java/com/boot/tico/login/service/UserService.java
  src/main/java/com/boot/tico/login/service/VerificationCodeService.java
Labels: 📬 API, ✨ Feature, 🕹️Spring, 🕹️SQL, 🕹️ React, 🕹️Spring Boot

#17 [chatbot-ver3] kopora 데이터 → 한국문화정보원로 faq 데이터 변경 / db 데이터 종결어미로 단락 구분
  front-react/src/pages/chatbot/MicRecord.jsx
  front-react/src/pages/chatbot/micRecord.css
  python/chatbot/README.md
  python/chatbot/speech-to-text.py
  python/crawling/FAQ.py
  python/crawling/HR_Info.py
  python/data_sets/ChatbotData.csv
  python/data_sets/한국문화정보원_공공저작물_통합게시판_FAQ_12_25_2017.csv
Labels: 📃 Docs, ✨ Feature, 🎨UI, 🕹️ React, 🕹️python

#19 [test1] 비밀번호 찾기 이후 이동 경로 수정
  front-react/src/App.js
  front-react/src/pages/login/FindIdPassword.jsx
Labels: 🔨 Refactor, 🕹️ React

#21 [Erp-refactor] 직무별 Nav 바 비활성화 기능 추가 + Erp 폴더 위치 변경 및 특정 폴더 명 수정 + 다음 우편주소 API 추가
  front-react/src/App.js
  front-react/src/common/Header.jsx
  front-react/src/common/Main.jsx
  front-react/src/erp/AdminRegister.jsx
  front-react/src/erp/ErpMain.jsx
  front-react/src/erp/adminRegister.css
  front-react/src/imgs/erp.png
  front-react/src/pages/chatbot/ChatbotEngine.jsx
  front-react/src/pages/chatbot/ChatbotWindow.jsx
  front-react/src/pages/chatbot/chatbotEngine.css
  front-react/src/pages/chatbot/chatbotWindow.css
  front-react/src/pages/erp/ErpDTO.jsx
  front-react/src/pages/erp/ErpLogo.jsx
  front-react/src/pages/erp/ErpMain.jsx
  front-react/src/pages/erp/ErpNotiCreated.jsx
  front-react/src/pages/erp/ErpNotiDetail.jsx
  front-react/src/pages/erp/ErpNotiUpdate.jsx
  front-react/src/pages/erp/ErpNotices.jsx
  front-react/src/pages/erp/HR_Team/AdminInfo.jsx
  front-react/src/pages/erp/HR_Team/AdminRegister.jsx
  front-react/src/pages/erp/HR_Team/adminContainer.css
  front-react/src/pages/erp/HR_Team/adminInfo.css
  front-react/src/pages/erp/HR_Team/adminRegister.css
  front-react/src/pages/erp/Home.jsx
  front-react/src/pages/erp/MyCalendar.jsx
  front-react/src/pages/erp/RecentNotices.jsx
  front-react/src/pages/erp/erpMain.css
  front-react/src/pages/erp/erpNotiCreated.css
  front-react/src/pages/erp/erpNotiDetail.css
  front-react/src/pages/erp/erpNotiUpdate.css
  front-react/src/pages/erp/erpNotices.css
  front-react/src/pages/erp/home.css
  front-react/src/pages/erp/recentNotices.css
  front-react/src/pages/login/Login.jsx
  src/main/java/com/boot/tico/erp/controller/ErpController.java
  src/main/java/com/boot/tico/erp/dto/EmpDTO.java
  src/main/java/com/boot/tico/erp/service/EmployeeAuthService.java
  src/main/java/com/boot/tico/erp/service/ErpService.java
  src/main/java/com/boot/tico/login/controller/AuthController.java
Labels: 📬 API, ✨ Feature, 🕹️Java, 🕹️ JavaScript, 🎨UI, 🕹️ React, 🕹️Spring Boot

#22 [Erp home] 📆 Erp 홈페이지에 캘린더 기능 & 📢 공지사항 페이지 수정
  front-react/package-lock.json
  front-react/package.json
  front-react/src/App.js
  front-react/src/blockly/components/BlocklyComponent.jsx
  front-react/src/blockly/components/ObjectSelectPage.jsx
  front-react/src/pages/erp/ErpMain.jsx
  front-react/src/pages/erp/ErpNotiDetail.jsx
  front-react/src/pages/erp/Home.jsx
  front-react/src/pages/erp/Home/ColorPalette.jsx
  front-react/src/pages/erp/Home/ErpNotiCreated.jsx
  front-react/src/pages/erp/Home/ErpNotiDetail.jsx
  front-react/src/pages/erp/Home/ErpNotiUpdate.jsx
  front-react/src/pages/erp/Home/ErpNotices.jsx
  front-react/src/pages/erp/Home/Home.jsx
  front-react/src/pages/erp/Home/MyCalendar.jsx
  front-react/src/pages/erp/Home/RecentNotices.jsx
  front-react/src/pages/erp/Home/colorPalette.css
  front-react/src/pages/erp/Home/erpNotiCreated.css
  front-react/src/pages/erp/Home/erpNotiDetail.css
  front-react/src/pages/erp/Home/erpNotiUpdate.css
  front-react/src/pages/erp/Home/erpNotices.css
  front-react/src/pages/erp/Home/home.css
  front-react/src/pages/erp/Home/recentNotices.css
  front-react/src/pages/erp/MyCalendar.jsx
  front-react/src/pages/erp/erpMain.css
  front-react/src/pages/erp/erpNotiDetail.css
  front-react/src/pages/erp/erpNotices.css
  src/main/java/com/boot/tico/erp/controller/ErpScheduleController.java
  src/main/java/com/boot/tico/erp/controller/UserColorPaletteController.java
  src/main/java/com/boot/tico/erp/dto/ErpScheduleDTO.java
  src/main/java/com/boot/tico/erp/dto/UserColorPaletteDTO.java
  src/main/java/com/boot/tico/erp/repo/ErpNotiRepository.java
  src/main/java/com/boot/tico/erp/repo/ErpScheduleRepository.java
  src/main/java/com/boot/tico/erp/repo/UserColorPaletteRepository.java
  src/main/java/com/boot/tico/erp/service/ErpScheduleService.java
  src/main/java/com/boot/tico/erp/service/UserColorPaletteService.java
Labels: 📬 API, 🐞 Bug, ✨ Feature, 🕹️Java, 🕹️ JavaScript, 🔨 Refactor, 🕹️SQL, 🎨UI, 🕹️ React, 🕹️Spring Boot

#23 [Emp-modify-del] emp 사원 로그인 후, 본인 정보 수정 시 비밀번호 암호화 업데이트 구현 + 인사팀 관리자 사원 정보를 수정/삭제 기능 구현
  front-react/src/pages/erp/ErpMain.jsx
  front-react/src/pages/erp/HR_Team/AdminInfo.jsx
  front-react/src/pages/erp/HR_Team/AdminRegister.jsx
  front-react/src/pages/erp/HR_Team/adminRegister.css
  front-react/src/pages/erp/Home/Home.jsx
  front-react/src/pages/erp/MyPage/MyInfoChk.jsx
  front-react/src/pages/erp/MyPage/MyInfoModify.jsx
  python/README.md
  python/chatbot/Chatbot.py
  src/main/java/com/boot/tico/erp/controller/ErpController.java
  src/main/java/com/boot/tico/erp/service/EmployeeAuthService.java
  src/main/java/com/boot/tico/erp/service/ErpService.java
Labels: 📬 API, 📃 Docs, ✨ Feature, 🕹️Java, 🕹️ JavaScript, 🎨UI, 🕹️ React, 🕹️Spring Boot

#24 [Erp-refactor2] MyInfoChk (사원의 나의정보 조회 페이지 구현)
  front-react/package-lock.json
  front-react/package.json
  front-react/src/App.js
  front-react/src/blockly/components/BlocklyComponent.jsx
  front-react/src/blockly/components/ObjectSelectPage.jsx
  front-react/src/pages/erp/ErpMain.jsx
  front-react/src/pages/erp/ErpNotiDetail.jsx
  front-react/src/pages/erp/HR_Team/AdminInfo.jsx
  front-react/src/pages/erp/HR_Team/AdminRegister.jsx
  front-react/src/pages/erp/HR_Team/adminRegister.css
  front-react/src/pages/erp/Home.jsx
  front-react/src/pages/erp/Home/ColorPalette.jsx
  front-react/src/pages/erp/Home/ErpNotiCreated.jsx
  front-react/src/pages/erp/Home/ErpNotiDetail.jsx
  front-react/src/pages/erp/Home/ErpNotiUpdate.jsx
  front-react/src/pages/erp/Home/ErpNotices.jsx
  front-react/src/pages/erp/Home/Home.jsx
  front-react/src/pages/erp/Home/MyCalendar.jsx
  front-react/src/pages/erp/Home/RecentNotices.jsx
  front-react/src/pages/erp/Home/colorPalette.css
  front-react/src/pages/erp/Home/erpNotiCreated.css
  front-react/src/pages/erp/Home/erpNotiDetail.css
  front-react/src/pages/erp/Home/erpNotiUpdate.css
  front-react/src/pages/erp/Home/erpNotices.css
  front-react/src/pages/erp/Home/home.css
  front-react/src/pages/erp/Home/recentNotices.css
  front-react/src/pages/erp/MyCalendar.jsx
  front-react/src/pages/erp/MyPage/MyInfoChk.jsx
  front-react/src/pages/erp/MyPage/MyInfoModify.jsx
  front-react/src/pages/erp/erpMain.css
  front-react/src/pages/erp/erpNotiDetail.css
  front-react/src/pages/erp/erpNotices.css
  python/README.md
  python/chatbot/Chatbot.py
  src/main/java/com/boot/tico/erp/controller/ErpController.java
  src/main/java/com/boot/tico/erp/controller/ErpScheduleController.java
  src/main/java/com/boot/tico/erp/controller/UserColorPaletteController.java
  src/main/java/com/boot/tico/erp/dto/ErpScheduleDTO.java
  src/main/java/com/boot/tico/erp/dto/UserColorPaletteDTO.java
  src/main/java/com/boot/tico/erp/repo/ErpNotiRepository.java
  src/main/java/com/boot/tico/erp/repo/ErpScheduleRepository.java
  src/main/java/com/boot/tico/erp/repo/UserColorPaletteRepository.java
  src/main/java/com/boot/tico/erp/service/EmployeeAuthService.java
  src/main/java/com/boot/tico/erp/service/ErpScheduleService.java
  src/main/java/com/boot/tico/erp/service/ErpService.java
  src/main/java/com/boot/tico/erp/service/UserColorPaletteService.java
Labels: ✨ Feature, 🕹️Java, 🕹️ JavaScript, 🎨UI, 🕹️ React, 🕹️Spring Boot

#20 [Token ver1] refresToken 재발급 불가 오류 수정
  front-react/src/pages/login/social/utils/axiosInstance.js
  src/main/java/com/boot/tico/login/controller/AuthController.java
  src/main/java/com/boot/tico/login/security/JwtTokenizer.java
  src/main/java/com/boot/tico/login/security/OAuth2SuccessHandler.java
  src/main/java/com/boot/tico/login/service/VerificationCodeService.java
Labels: 🐞 Bug, 🔨 Refactor, 🕹️ React, 🕹️Spring Boot

#25 [blockly-ver1-3] tico 학습하기 및 요소별 속성 제어 패널 추가
  front-react/src/App.js
  front-react/src/blockly/blocks/blockGenerator.js
  front-react/src/blockly/blocks/codeRunner.js
  front-react/src/blockly/blocks/dropdown.js
  front-react/src/blockly/blocks/myBlockJSON.js
  front-react/src/blockly/blocks/myBlocks.js
  front-react/src/blockly/blocks/ticoTheme.js
  front-react/src/blockly/components/BlocklyComponent.css
  front-react/src/blockly/components/BlocklyComponent.jsx
  front-react/src/blockly/components/ObjectControl.jsx
  front-react/src/blockly/functions/appearances/appearanceFunctions.js
  front-react/src/blockly/functions/cals/calFunctions.js
  front-react/src/blockly/functions/flows/flowFunctions.js
  front-react/src/blockly/functions/logicals/logicalFunctions.js
  front-react/src/blockly/functions/moves/moveFunctions.js
  front-react/src/blockly/functions/sounds/soundFunctions.js
  front-react/src/blockly/functions/starts/startFunctions.js
  front-react/src/blockly/utils/loadProjectDetail.js
  front-react/src/blockly/utils/saveProject.js
  front-react/src/common/Header.jsx
  front-react/src/erp/ErpMain.jsx
  front-react/src/faq/FAQList.js
  front-react/src/faq/FAQPost.js
  front-react/src/faq/faqListPush.py
  front-react/src/imgs/quiz1.jpg
  front-react/src/pages/blockedu/BlockEduComponent.css
  front-react/src/pages/blockedu/BlockEduComponent.jsx
  front-react/src/pages/blockedu/BlockEduComponentPost.css
  front-react/src/pages/blockedu/BlockEduComponentPost.jsx
  front-react/src/pages/blockedu/EduList.js
  front-react/src/pages/blockedu/Modal.css
  front-react/src/pages/blockedu/eduList.css
  front-react/src/pages/blockedu/edublock/eduBlock6.js
  front-react/src/pages/faq/Ecommerce_FAQ_Chatbot_dataset.json
  front-react/src/pages/faq/FAQList.js
  front-react/src/pages/faq/FAQList.module.css
  front-react/src/pages/faq/FAQPost.js
  front-react/src/pages/faq/FAQPost.module.css
  front-react/src/pages/faq/FAQPut.js
  front-react/src/pages/faq/FAQPut.module.css
  front-react/src/pages/faq/faqListPush.py
  src/main/java/com/boot/tico/config/SecurityConfig.java
  src/main/java/com/boot/tico/eduProject/controller/EduProjectController.java
  src/main/java/com/boot/tico/eduProject/dao/EduProjectRepository.java
  src/main/java/com/boot/tico/eduProject/dto/EduProjectDTO.java
  src/main/java/com/boot/tico/eduProject/service/EduProjectServiceImpl.java
  src/main/java/com/boot/tico/faq/service/FAQServiceImpl.java
  src/main/java/com/boot/tico/project/dto/ProjectObjectDTO.java
  src/main/java/com/boot/tico/quiz/controller/QuizController.java
  src/main/java/com/boot/tico/quiz/dao/QuizRepository.java
  src/main/java/com/boot/tico/quiz/dao/SolvedRepository.java
  src/main/java/com/boot/tico/quiz/dto/QuizDTO.java
  src/main/java/com/boot/tico/quiz/dto/SolvedDTO.java
  src/main/java/com/boot/tico/quiz/service/QuizService.java
  uploads/gettersetter.jpg
  uploads/클래스 원리.jpg
Labels: ✨ Feature, 🕹️Java, 🕹️ JavaScript, 🎨UI, 🕹️ React, 🕹️Spring Boot

#26 [Object selectver1] 오브젝트 추가 페이지 구현
  front-react/public/uploads/images/blocklyObjects/두더지.png
  front-react/src/blockly/components/ObjectDraw.jsx
  front-react/src/blockly/components/ObjectSelectPage.jsx
  front-react/src/blockly/components/ObjectTextbox.jsx
  front-react/src/blockly/components/ObjectUploader.jsx
  front-react/src/blockly/components/objectSelectPage.css
  front-react/src/erp/ErpMain.jsx
  front-react/src/pages/erp/ErpMain.jsx
  front-react/src/pages/login/Login.jsx
  src/main/java/com/boot/tico/blocklyObject/controller/BlocklyObjectController.java
  src/main/java/com/boot/tico/blocklyObject/dto/BlocklyObject.java
  src/main/java/com/boot/tico/blocklyObject/repo/BlocklyObjectRepo.java
  src/main/java/com/boot/tico/blocklyObject/service/BlocklyObjectService.java
  src/main/java/com/boot/tico/config/SecurityConfig.java
  src/main/java/com/boot/tico/login/controller/AuthController.java
  src/main/java/com/boot/tico/project/config/WebConfig.java
  uploads/images/blocklyObjects/강안에서.jpg
  uploads/images/blocklyObjects/갸루피스걸.png
  uploads/images/blocklyObjects/격투기링.png
  uploads/images/blocklyObjects/과녁.png
  uploads/images/blocklyObjects/낭떠러지.png
  uploads/images/blocklyObjects/도시야경.png
  uploads/images/blocklyObjects/두더지.png
  uploads/images/blocklyObjects/두더지굴.png
  uploads/images/blocklyObjects/딸기샌드.png
  uploads/images/blocklyObjects/방패남자.png
  uploads/images/blocklyObjects/방패여자.png
  uploads/images/blocklyObjects/벚꽃.png
  uploads/images/blocklyObjects/벚꽃거리.jpg
  uploads/images/blocklyObjects/뿅망치.png
  uploads/images/blocklyObjects/샌드백치고있는남자.png
  uploads/images/blocklyObjects/어택파리채.png
  uploads/images/blocklyObjects/짱구.jpg
  uploads/images/blocklyObjects/테니스코트.png
  uploads/images/blocklyObjects/파리.png
  uploads/images/blocklyObjects/파리채.png
Labels: ✨ Feature, 🕹️Java, 🕹️ JavaScript, 🔨 Refactor, 🕹️SQL, 🎨UI, 🕹️ React, 🕹️Spring Boot

#27 [Object selectver2] 오브젝트 추가 경로 추가
  front-react/src/blockly/components/BlocklyComponent.jsx
  front-react/src/blockly/components/ObjectSelectPage.jsx
  front-react/src/blockly/components/objectSelectPage.css
  uploads/images/blocklyObjects/거위.png
  uploads/images/blocklyObjects/검은양.png
  uploads/images/blocklyObjects/황금저금통.png
Labels: 🕹️ JavaScript, 🎨UI, 🕹️ React, 🕹️Spring Boot

#29 [blockly-ver1-5] 메인화면 관리페이지 구현 및 작품 상세페이지 및 작품별 조회 기록
  front-react/src/App.js
  front-react/src/blockly/blocks/myBlockJSON.js
  front-react/src/blockly/components/BlocklyComponent.jsx
  front-react/src/blockly/components/BlocklyComponentRun.jsx
  front-react/src/blockly/components/ProjectModal.jsx
  front-react/src/blockly/components/Tutorial.css
  front-react/src/blockly/components/Tutorial.jsx
  front-react/src/blockly/functions/logicals/logicalFunctions.js
  front-react/src/common/Header.jsx
  front-react/src/common/Main.css
  front-react/src/common/Main.jsx
  front-react/src/common/MainBannerManage.jsx
  front-react/src/common/MainModify.jsx
  front-react/src/common/ProjectCard.jsx
  front-react/src/common/ProjectSelectModal.jsx
  front-react/src/mypage/MyProjects.css
  front-react/src/mypage/MyProjects.js
  front-react/src/mypage/MypageMain.jsx
  front-react/src/pages/blockedu/BlockEduComponent.jsx
  front-react/src/pages/blockedu/BlockEduComponentPost.jsx
  front-react/src/pages/blockedu/BlockEduComponentPut.jsx
  front-react/src/pages/blockedu/EMPEduList.js
  front-react/src/pages/blockedu/EduList.js
  front-react/src/pages/erp/ErpMain.jsx
  front-react/src/pages/faq/FAQList.js
  front-react/src/pages/faq/FAQPost.js
  front-react/src/pages/faq/FAQPut.js
  front-react/src/pages/share/CommentSection.css
  front-react/src/pages/share/CommentSection.jsx
  front-react/src/pages/share/ShareDetail.jsx
  front-react/src/pages/share/ShareGallery.jsx
  front-react/src/pages/share/ShareModal.jsx
  src/main/java/com/boot/tico/config/SecurityConfig.java
  src/main/java/com/boot/tico/mainBanner/controller/MainBannerController.java
  src/main/java/com/boot/tico/mainBanner/dto/MainBannerDTO.java
  src/main/java/com/boot/tico/mainBanner/repository/MainBannerRepository.java
  src/main/java/com/boot/tico/mainBanner/service/MainBannerService.java
  src/main/java/com/boot/tico/project/controller/ProjectController.java
  src/main/java/com/boot/tico/project/controller/ProjectStaffPickController.java
  src/main/java/com/boot/tico/project/dto/ProjectStaffPickDTO.java
  src/main/java/com/boot/tico/project/dto/ProjectViewDTO.java
  src/main/java/com/boot/tico/project/dto/StaffPick.java
  src/main/java/com/boot/tico/project/repo/ProjectRepository.java
  src/main/java/com/boot/tico/project/repo/ProjectStaffPickRepository.java
  src/main/java/com/boot/tico/project/repo/ProjectViewRepository.java
  src/main/java/com/boot/tico/project/service/ProjectService.java
  src/main/java/com/boot/tico/project/service/ProjectStaffPickService.java
  src/main/java/com/boot/tico/quiz/dao/SolvedRepository.java
  uploads/DALL·E 2025-04-22 12.37.18 - A dramatic scene of two fighter planes engaged in combat in the sky, with explosive action and fiery trails in a wide 21_9 aspect ratio. The planes ar.webp
  uploads/DALL·E 2025-04-22 12.38.16 - A dramatic scene showing a ghost viewed through the scope of a sniper rifle. The ghost is translucent, standing in a misty environment, with an eerie .webp
Labels: ✨ Feature, 🕹️ JavaScript, 🔨 Refactor, 🕹️SQL, 🎨UI, 🕹️ React, 🕹️Spring Boot

#30 [Web chat build] 웹소켓 기반 채팅 서비스 기능 구현
  front-react/package-lock.json
  front-react/package.json
  front-react/src/common/Main.css
  front-react/src/common/Main.jsx
  front-react/src/pages/login/Login.jsx
  front-react/src/pages/login/social/components/Callback.js
  front-react/src/pages/wep_chat/WepChat.jsx
  front-react/src/pages/wep_chat/wepChat.css
  pom.xml
  src/main/java/com/boot/tico/chat/config/WebSocketConfig.java
  src/main/java/com/boot/tico/chat/controller/ChatController.java
  src/main/java/com/boot/tico/chat/model/ChatMessage.java
  src/main/java/com/boot/tico/config/SecurityConfig.java
  src/main/java/com/boot/tico/login/controller/AuthController.java
Labels: 📬 API, ⚙ Settings, 🎨UI, 🕹️ React, 🕹️Spring Boot

#33 Chatbot tts
  .gitignore
  front-react/src/pages/chatbot/ChatbotEngine.jsx
  front-react/src/pages/chatbot/chatbotEngine.css
  python/README.md
  python/audio_files/89b93161-b8dc-4920-a002-975ea2ed2959.webm
  python/audio_files/cebd2fb9-ebd1-48b7-9194-4de845f1186c.webm
  python/chatbot/Chatbot.py
  python/chatbot/app.py
  python/chatbot/chatbot_faq.py
  python/chatbot/config.py
  python/chatbot/db.py
  python/chatbot/routes.py
  python/chatbot/speech_to_text.py
  python/chatbot/static/audio_files/hyedi3x/hyedi3x_bot_20250422_39.mp3
  python/chatbot/static/audio_files/hyedi3x/hyedi3x_bot_20250422_40.mp3
  python/chatbot/static/audio_files/hyedi3x/hyedi3x_bot_20250422_41.mp3
  python/chatbot/static/audio_files/hyedi3x/hyedi3x_user_20250422_39.webm
  python/chatbot/static/audio_files/hyedi3x/hyedi3x_user_20250422_40.webm
  python/chatbot/static/audio_files/hyedi3x/hyedi3x_user_20250422_41.webm
  python/chatbot/text_to_speech.py
  python/crawling/FAQ.py
  python/crawling/FAQ_dumy.py
  python/data_sets/faq_dataset_dumy.xlsx
Labels: 🐞 Bug, 📃 Docs, ✨ Feature, 🕹️ JavaScript, 🔨 Refactor, 🎨UI, 🕹️ React, 🕹️python

#31 [Login pass] CoolSMS 문자 인증 기능 구현 (14세 미만/이상)
  front-react/src/App.js
  front-react/src/pages/login/SignUpId.jsx
  front-react/src/pages/login/Signup.jsx
  front-react/src/pages/login/SocialSignup.jsx
  front-react/src/pages/login/signUpId.css
  front-react/src/pages/login/signup.css
  front-react/src/pages/login/sms/Cert.jsx
  front-react/src/pages/login/sms/cert.css
  pom.xml
  src/main/java/com/boot/tico/config/SecurityConfig.java
  src/main/java/com/boot/tico/config/SmsConfig.java
  src/main/java/com/boot/tico/login/controller/AuthController.java
  src/main/java/com/boot/tico/login/controller/SmsController.java
  src/main/java/com/boot/tico/login/dto/UserDto.java
  src/main/java/com/boot/tico/login/entity/User.java
  src/main/java/com/boot/tico/login/service/CodeService.java
  src/main/java/com/boot/tico/login/service/SmsService.java
  src/main/java/com/boot/tico/login/service/UserService.java
Labels: 📬 API, ⚙ Settings, 🔩 Test, 🕹️ React, 🕹️Spring Boot

#34 fetch-> axios -> axiosInstance로 요청문 변경, 캔버스 이미지 이동 제한 범위 지정, faq 테이블 수정
  front-react/src/blockly/blocks/myBlockJSON.js
  front-react/src/blockly/components/BlocklyComponent.jsx
  front-react/src/blockly/components/BlocklyComponentRun.jsx
  front-react/src/blockly/functions/moves/moveFunctions.js
  front-react/src/blockly/utils/deleteProject.js
  front-react/src/blockly/utils/loadProjectDetail.js
  front-react/src/blockly/utils/loadProjects.js
  front-react/src/blockly/utils/saveProject.js
  front-react/src/common/Main.jsx
  front-react/src/common/MainBannerManage.jsx
  front-react/src/common/MainModify.jsx
  front-react/src/mypage/MyProjects.js
  front-react/src/mypage/MypageMain.jsx
  front-react/src/pages/blockedu/BlockEduComponent.jsx
  front-react/src/pages/blockedu/BlockEduComponentPost.jsx
  front-react/src/pages/blockedu/BlockEduComponentPut.jsx
  front-react/src/pages/blockedu/EMPEduList.js
  front-react/src/pages/blockedu/EduList.js
  front-react/src/pages/erp/ErpMain.jsx
  front-react/src/pages/faq/Ecommerce_FAQ_Chatbot_dataset.json
  front-react/src/pages/faq/FAQList.js
  front-react/src/pages/faq/FAQPost.js
  front-react/src/pages/faq/FAQPut.js
  front-react/src/pages/faq/faqListPush.py
  front-react/src/pages/share/CommentSection.jsx
  front-react/src/pages/share/ShareDetail.jsx
  front-react/src/pages/share/ShareGallery.jsx
  front-react/src/pages/share/ShareModal.jsx
  src/main/java/com/boot/tico/eduProject/dto/EduProjectDTO.java
  src/main/java/com/boot/tico/faq/dao/FAQRepository.java
  src/main/java/com/boot/tico/faq/dto/FAQDTO.java
  src/main/java/com/boot/tico/faq/service/FAQServiceImpl.java
  src/main/java/com/boot/tico/project/controller/ProjectController.java
  src/main/java/com/boot/tico/project/dto/ProjectDTO.java
  src/main/java/com/boot/tico/project/repo/ProjectRepository.java
  src/main/java/com/boot/tico/project/service/ProjectService.java
Labels: ✨ Feature, 🔨 Refactor, 🕹️Spring, 🕹️ React

#35 [RefreshToken_cookie] 🔐 Refresh Token - Cookie 저장 방식
  front-react/src/pages/login/Login.jsx
  front-react/src/pages/login/SocialSignup.jsx
  front-react/src/pages/login/social/components/Callback.js
  front-react/src/pages/login/social/utils/axiosInstance.js
  src/main/java/com/boot/tico/login/controller/AuthController.java
  src/main/java/com/boot/tico/login/dto/UserDto.java
  src/main/java/com/boot/tico/login/entity/User.java
  src/main/java/com/boot/tico/login/security/JwtTokenizer.java
  src/main/java/com/boot/tico/login/security/OAuth2SuccessHandler.java
  src/main/java/com/boot/tico/login/security/OAuth2Utils.java
  src/main/java/com/boot/tico/login/service/UserService.java
Labels: 📬 API, ⚙ Settings, 🔩 Test, 🕹️ React, 🕹️Spring Boot

#36 [Blockly-ver1-8] 작품 상세페이지 및 작품 리메이크하기
  front-react/src/App.js
  front-react/src/blockly/blocks/blockGenerator.js
  front-react/src/blockly/components/BlocklyComponent.jsx
  front-react/src/blockly/components/BlocklyComponentRemake.jsx
  front-react/src/blockly/components/BlocklyComponentRun.jsx
  front-react/src/blockly/components/ObjectControl.jsx
  front-react/src/blockly/functions/appearances/appearanceFunctions.js
  front-react/src/blockly/functions/cals/calFunctions.js
  front-react/src/blockly/functions/flows/flowFunctions.js
  front-react/src/blockly/functions/moves/moveFunctions.js
  front-react/src/blockly/functions/sounds/soundFunctions.js
  front-react/src/blockly/games/whackMoleGame.js
  front-react/src/blockly/utils/deleteProject.js
  front-react/src/blockly/utils/loadProjectDetail.js
  front-react/src/blockly/utils/loadProjects.js
  front-react/src/blockly/utils/saveProject.js
  front-react/src/common/Main.css
  front-react/src/common/Main.jsx
  front-react/src/common/MainBannerManage.jsx
  front-react/src/common/MainModify.jsx
  front-react/src/common/ProjectCard.jsx
  front-react/src/common/ProjectSelectModal.jsx
  front-react/src/mypage/MyProjects.js
  front-react/src/pages/blockedu/BlockEduComponent.jsx
  front-react/src/pages/blockedu/BlockEduComponentPost.jsx
  front-react/src/pages/blockedu/BlockEduComponentPut.jsx
  front-react/src/pages/blockedu/EMPEduList.js
  front-react/src/pages/blockedu/EduList.js
  front-react/src/pages/faq/faqListPush.py
  front-react/src/pages/share/CommentSection.jsx
  front-react/src/pages/share/ProjectEditMeta.css
  front-react/src/pages/share/ProjectEditMeta.jsx
  front-react/src/pages/share/ShareDetail.css
  front-react/src/pages/share/ShareDetail.jsx
  front-react/src/pages/share/ShareGallery.jsx
  front-react/src/pages/share/ShareModal.jsx
  src/main/java/com/boot/tico/config/SecurityConfig.java
  src/main/java/com/boot/tico/eduProject/controller/EduProjectController.java
  src/main/java/com/boot/tico/mainBanner/controller/MainBannerController.java
  src/main/java/com/boot/tico/project/controller/ProjectCommentController.java
  src/main/java/com/boot/tico/project/controller/ProjectController.java
  src/main/java/com/boot/tico/project/controller/ProjectFavorController.java
  src/main/java/com/boot/tico/project/controller/ProjectStaffPickController.java
  src/main/java/com/boot/tico/project/dto/ProjectDTO.java
  src/main/java/com/boot/tico/project/repo/ProjectRepository.java
  src/main/java/com/boot/tico/project/service/ProjectService.java
  src/main/java/com/boot/tico/quiz/controller/QuizController.java
Labels: 🐞 Bug, ✨ Feature, 🕹️ JavaScript, 🎨UI, 🕹️ React, 🕹️Spring Boot
