Repository hyedi3x/TICO_TEAM, pull requests merged in 2025-03, with the labels that each got.

#2 [Chatbot-ver1] Goole Cloud Speech API를 활용해 음성 인식 채팅 서비스 구현
  .gitignore
  front-react/README.md
  front-react/src/common/Main.jsx
  front-react/src/imgs/chatbot_logo.png
  front-react/src/pages/chatbot/Chatbot.jsx
  front-react/src/pages/chatbot/MicRecord.jsx
  front-react/src/pages/chatbot/chatbot.css
  front-react/src/pages/chatbot/micRecord.css
  python/audio_files/89b93161-b8dc-4920-a002-975ea2ed2959.webm
  python/audio_files/cebd2fb9-ebd1-48b7-9194-4de845f1186c.webm
  python/chatbot/README.md
  python/chatbot/imgs/system_settings_gspeech_api.png
  python/chatbot/speech-to-text.py
  src/main/java/com/boot/tico/chatbot/controller/ChatBotController.java
  src/main/java/com/boot/tico/chatbot/dto/ChatBotDTO.java
  src/main/java/com/boot/tico/chatbot/repo/ChatBotRepository.java
  src/main/java/com/boot/tico/chatbot/service/ChatBotService.java
Labels: ✨ Feature, 🕹️Java, 🕹️ JavaScript, ⚙ Settings, 🎨UI, 🕹️ React, 🕹️Spring Boot

#4 [Social-ver1] 간편 로그인 구현 (카카오 API 로그인, React → Boot → React)
  front-react/src/App.js
  front-react/src/common/Header.jsx
  front-react/src/pages/login/Login.jsx
  front-react/src/pages/login/social/components/LoginButton.js
  front-react/src/pages/login/social/components/LogoutButton.js
  front-react/src/pages/login/social/pages/KakaoLogin.js
  front-react/src/pages/login/social/pages/Logout.js
  front-react/src/pages/login/social/pages/main.js
  front-react/src/pages/login/social/utils/KakaoAuth.js
  pom.xml
  src/main/java/com/boot/tico/login/ReactBootLoginApplication.java
  src/main/java/com/boot/tico/login/config/CorsConfig.java
  src/main/java/com/boot/tico/login/config/KakaoProperties.java
  src/main/java/com/boot/tico/login/controller/AuthController.java
  src/main/java/com/boot/tico/login/dto/AccessTokenResponse.java
  src/main/java/com/boot/tico/login/dto/KakaoUserInfo.java
  src/main/java/com/boot/tico/login/entity/User.java
  src/main/java/com/boot/tico/login/repository/UserRepository.java
  src/main/java/com/boot/tico/login/service/KakaoLoginService.java
Labels: 📬 API, ✨ Feature, 🕹️Java, 🕹️ JavaScript, 🕹️ React, 🕹️Spring Boot

#3 [Login-ver1] 🔐 로그인 페이지, 회원가입 페이지, 일반 회원가입 페이지 구현
  front-react/README.md
  front-react/src/App.js
  front-react/src/common/Header.jsx
  front-react/src/index.css
  front-react/src/pages/login/Login.jsx
  front-react/src/pages/login/SignUpId.jsx
  front-react/src/pages/login/Signup.jsx
  front-react/src/pages/login/login.css
  front-react/src/pages/login/signUpId.css
  front-react/src/pages/login/signup.css
  front-react/src/pages/login/social/components/LoginButton.js
  front-react/src/pages/login/social/components/LogoutButton.js
  front-react/src/pages/login/social/pages/KakaoLogin.js
  front-react/src/pages/login/social/pages/Logout.js
  front-react/src/pages/login/social/pages/main.js
  front-react/src/pages/login/social/utils/KakaoAuth.js
  pom.xml
  src/main/java/com/boot/tico/login/ReactBootLoginApplication.java
  src/main/java/com/boot/tico/login/config/CorsConfig.java
  src/main/java/com/boot/tico/login/config/KakaoProperties.java
  src/main/java/com/boot/tico/login/controller/AuthController.java
  src/main/java/com/boot/tico/login/dto/AccessTokenResponse.java
  src/main/java/com/boot/tico/login/dto/KakaoUserInfo.java
  src/main/java/com/boot/tico/login/entity/User.java
  src/main/java/com/boot/tico/login/repository/UserRepository.java
  src/main/java/com/boot/tico/login/service/KakaoLoginService.java
Labels: 📃 Docs, 🕹️ JavaScript, 🎨UI, 🕹️ React

#5 [Erp ver1] 🧑‍💻 관리자 ERP 메인 페이지 구현
  front-react/README.md
  front-react/package-lock.json
  front-react/package.json
  front-react/src/App.js
  front-react/src/common/Header.jsx
  front-react/src/erp/Admin.jsx
  front-react/src/erp/ErpMain.jsx
  front-react/src/erp/Home.jsx
  front-react/src/erp/MyCalendar.jsx
  front-react/src/erp/erpMain.css
  front-react/src/erp/home.css
Labels: 📃 Docs, 🕹️ JavaScript, ⚙ Settings, 🎨UI, 🕹️ React
